:root {
	color-scheme: dark;
	--primary: #121212;
	--secondary: #1f1f1f;
	--tertiary: #2f2f2f;
	--quaternary: #555555;
	--text: #dcdcdc;
}

body {
	background-color: var(--primary);
}

.list-group, .list-group-item, .col-2, input, .card, .tox {
	background-color: var(--secondary) !important;
}

h1, h2, h3, h4, h5, h6,
p, span, li, input, i, button,
#journalTitle, #allEntriesBtn {
	color: var(--text) !important;
}



input {
	border-color: var(--tertiary) !important;
}

#newEntryBtnWide, #allEntriesBtn, #randomEntryBtn {
	background-color: var(--tertiary);
}

.dropdown-menu {
	background-color: var(--quaternary) !important;
}

.dropdown-item:hover {
	background-color: #898989;
}

.dropdown-item:hover .bi-trash {
	color: black !important;
}
