#journalTitle {
  width: fit-content;
  padding-left: 8px;
  font-size: 32px;
  text-decoration: none;
}

.col-2 {
  padding-top: 12px;
}

#entryList {
  user-select: none;
}

#moreOptionsBtn {
  padding: 5px;
  margin-top: -5px;
  margin-left: -16px;
}

#moreOptionsBtn::after {
  display: none;
}

#moreOptionsBtn i {
  font-size: 18px !important;
}

#entryOptions {
  display: flex;
}

.dropdown-menu {
  padding: 5px 0 5px 0 !important;
}

.dropdown-item {
  padding: 5px 10px 5px 10px !important;
  user-select: none;
}
