.container-fluid {
	width: 50%;
}

#journalCount {
	padding-top: 12px;
}

#newJournalTitleField {
	max-width: 300px;
}

#journalList {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: fit-content;
	height: 325px;
	padding: 16px 25px 16px 25px;
	border-radius: 10px;
	margin: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
