@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-BlackItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: italic;
}

body, .container-fluid, .row {
	height: 100vh;
}

.list-group {
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 10px;
}

#writingCol {
	width: 40%;
	padding-top: 50px;
}

#writingArea {
	height: 80%;
}

.bi-plus-circle {
	margin-right: 3px;
}

small {
	font-size: 12px;
	color: #a7a7a7;
}

.list-group-item {
	cursor: pointer;
	user-select: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #404040;
	border-radius: 0 !important;
}

.journal-link {
	text-decoration: none !important;
}

#entryTitle {
	font-size: 26px;
	margin: 18px;
	width: 100%;
	border: none !important;
}

#entryDateContainer {
	margin-left: 20px;
	margin-bottom: 10px;
	user-select: none;
	cursor: pointer;
	width: fit-content;
}

.bi-calendar2 {
	font-size: 16px;
}

#entryDate::-webkit-inner-spin-button,
#entryDate::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#entryDate {
	margin-left: 5px;
	font-size: 14px;
}

button[title='Save'] path {
	transition: fill 0.3s !important;
}

#searchBox {
  padding: 8px;
  margin-bottom: 5px;
}

#journalNav {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  padding-right: 7px;
}

#newEntryBtnWide, #allEntriesBtn, #randomEntryBtn {
  height: 50px;
  text-align: left;
  padding-left: 15px;
}

#newEntryBtnWide .bi-plus-circle, .bi-list-ul, .bi-shuffle {
  margin-right: 5px;
}

#newEntryBtnWide {
  border-radius: 10px 10px 0px 0px;
}

#allEntriesBtn {
  border-radius: 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
}

#randomEntryBtn {
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
}
